
footer{
  background-color: #922121;
  color: aliceblue;
  width: 100%;
  text-align: center;
  height: 100px;
  padding-top: 10px;
}
footer div{
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin: 0 auto;
}
.icon-link{
  color: aliceblue;
}
footer p{
  margin: 0;
}